*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(181, 76, 207);
    font-family: 'PT Sans Narrow', sans-serif;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    border-bottom: 2px solid white;
    
}
.logo{
    width: 30px;
    cursor: pointer;
    position: relative;
    margin-top: 4px;
    box-shadow: 0px 0px 6px white;
    
}
img:hover{
    transition: ease-in 0.5s;
    box-shadow: none;
    
}


.nav_links  li{
    display: inline-block;
    
}

li,a,button{
    color: white;
    padding: 10px 10px;
    list-style: none;
    font-size: 18px;    
    border-radius: 4px;

} 

.nav_links li a{
    text-decoration: none;
    
    text-shadow: 1px 1px 2px black;
    

}
button,sgn{
    background-color: rgb(87, 255, 185);
    border: none;
    color: rgb(100, 83, 83);
    cursor: pointer;
}

button:hover{
    transition: all ease 0.03s;
    transform: scale(1.03);

}
li a:hover{
    color:rgb(0, 0, 0)  ;
    transition: ease 0.5s;
    text-shadow: none;
}